<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p>Siber Güvenlik | Blog</p>
  </div>
  <div id="social">
    {% include social.html %}
    <br>
    <h4>Faydalı Siteler:<br></h4>
    <h5><a href="https://cihandanaci.com" target="_blank">Cihan DANACI</a><br>
    <a href="http://www.spycod3.org" target="_blank">Spycod3</a><br>
    <a href="http://www.kali-linuxtr.net" target="_blank">Kali LinuxTR</a><br>
    <a href="https://monodram.net/" target="_blank">Atowho Blog</a></h5>
  </div>
</nav>
