Takip et:
<div id="stalker">

  {% if site.data.theme.social.twitter %}
  <a title="{{ site.data.theme.social.twitter }} on Twitter" href="https://twitter.com/spycod3">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.facebook %}
  <a title="{{ site.data.theme.social.facebook }} on Facebook" href="https://facebook.com/spycod3">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %}
  
    {% if site.data.theme.social.youtube %}
  <a title="{{ site.data.theme.social.youtube }} on Facebook" href="https://youtube.com/c/erdozi">
    <i class="fa fa-youtube-square"></i>
  </a>
  {% endif %}
</div>
